<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Resultados</h1>
    <table>
        <thead>
            <tr>
                <th>Galpón</th>
                <th>Poza</th>
                <th>Hembras</th>
                <th>Machos</th>
                <th>Nacidos</th>
                <th>Muertos Bebés</th>
                <th>Muertos Reproductores</th>
                <th>Tiempo Reproductores</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
                <tr>
                    <td>{{ dato['galpon'] }}</td>
                    <td>{{ dato['poza'] }}</td>
                    <td>{{ dato['hembras'] }}</td>
                    <td>{{ dato['machos'] }}</td>
                    <td>{{ dato['nacidos'] }}</td>
                    <td>{{ dato['muertos_bebes'] }}</td>
                    <td>{{ dato['muertos_reproductores'] }}</td>
                    <td>{{ dato['tiempo_reproductores'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Volver al Inicio</a>
</body>
</html>